PUBLIC_API_KEY=
APP_PORT=8080
GPU_DEVICE_ID=0
LAYOUT_DEVICE=cpu
LAYOUT_INSTANCE_COUNT=4
VL_MAX_CONCURRENCY=2
PADDLEX_HPS_USE_HPIP=0

MAX_FILE_SIZE_MB=100
MAX_PAGES=100
MAX_JOBS=20
RETENTION_HOURS=24

HF_TOKEN=
VLLM_IMAGE=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddleocr-genai-vllm-server:latest-nvidia-gpu-offline
